# ignore virtual environment files
venv/

# ignore env variables
.env

# ignore cache
__pycache__/

# ignore json files
reminders/credentials.json
reminders/token.json

# ignore sandbox files
Sandbox/

# ignore config files
# **/config.ini