# ignore virtual environment files
venv/

# ignore env variables
.env

# ignore cache
__pycache__/

# ignore json files
reminders/credentials.json
reminders/token.json

# ignore sandbox files
Sandbox/

# ignore init files
**/__init__.py

# ignore config files
/config.ini